body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    background-color: red;
  }
  
  .grid-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border: 1px solid;
    background-color: white;

  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

  }
  
  .container-row {
      display: flex;
      justify-content: center;
      flex: 1;
  }
  
  .hover {
      background-color: black;
  }
  
  .container-item {
      height: 100%;
      flex-basis: 100%;
      border: 1px solid;
      transition: background-color 0.3s ease;
      
  }