.container-row {
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    min-width: 0%;
    flex: 1;
   
}

.container-item:hover {
    background-color: red;
}

.container-item {
    height: 50px;
    border: 1px solid;
    flex-basis: 50px;
    transition: background-color 0.3s ease;
}